<div style="background-image: url('/images/photos/campus_unimar.jpg')">
  <div class="flex flex-col justify-between w-full h-screen items-center bg-ni-white bg-opacity-90">
    <%= @inner_content %>
  </div>
</div>
